.darken-overlay {
    opacity: 0;
    transition: opacity 0.5s ease; 
  }
  
  .darken-overlay.open {
    background-color:#F5A0BB; 
    opacity: 25%;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
  }