.navbar {
    background:#F8B0CC;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    z-index: 100;
    position: fixed;
}
  
  .navbar-container {
    width: 100vw;
    display:flex;
    justify-content: space-between;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
  }


  .hamburger-menu {
    display: flex;
    position: absolute;
    top: 25px;
    right: 50px;
    cursor: pointer;
   
  }

  .menu-icon {
    width: 45px;
    height: auto;
    transition: all 0.3s ease-out;
  }
  
  .close-icon {
    width: 30px;
    height: auto;
    transition: all 0.3s ease-out;
    left: 80%; 
    position: absolute;
    z-index: 100;
  }

 
  
  .NavbarItems {
    position: relative;
  }

  .nav-item {
    height: 80px;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 85%;
    opacity: 0;
    transform: translateX(-100%); 
    transition: transform 0.5s ease;
    list-style:none;  
    position: absolute;
   }

  
  /* Defined styles for the .open class that gets added when menu is open */
  .menu.open {
    background: #FD95B0;
    top: 10%;
    opacity: 1;
    margin:5px;
    padding-bottom: 0px;
    list-style: none;
    justify-content:center;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    position: absolute;
    transform: translateX(0);
  }

  .nav-links{
    margin: 2rem auto;
    border-radius: 4px;
    width: 90%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    transition: all 0.3s ease-out;
    display: flex;
  }

  .nav-links:hover {
    background: #fff;
    color: #D25473;
    transition: background 250ms;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  
  
  
  
  